$breakpoints: (xs: 600px, sm: 900px, md: 1200px);

$colour-primary: #FCCC47;
$colour-secondary: #579C87;

$font-weight-normal: 100;
$font-weight-bold: 400;

$header-height: 120px;
$footer-height: 70px;